@login_width: 272px;

body.login {
    #id4me-loginform, #backtoblog.id4me-backtoblog {
        display: none;
    }
    #login .id4me-login-link {
        margin: 12px 0;
        text-align: right;
    }
}
body.login.id4me {
    #id4me-loginform, #backtoblog.id4me-backtoblog {
        display: block;
    }
    form#id4me-loginform {
        width: 272px;
        padding: 24px;
        margin: 20px auto;

        .id4me-button.button-primary {
            background-color: #007a9d;
            border-color: #006e8c #005a73 #005a73;
            box-shadow: 0 1px 0 #005a73;
            text-shadow: 0 -1px 1px #005a73,
            1px 0 1px #005a73,
            0 1px 1px #005a73,
            -1px 0 1px #005a73;
        }
        .id4me-button.button-primary.hover,
        .id4me-button.button-primary:hover,
        .id4me-button.button-primary.focus,
        .id4me-button.button-primary:focus {
            background-color: #138cad;
            border-color: #005a73;
        }

        .id4me-button.button-primary.focus,
        .id4me-button.button-primary:focus {
            box-shadow: 0 1px 0 #006e8c,
            0 0 2px 1px #34afd1;
        }

        .id4me-button.button-primary.active,
        .id4me-button.button-primary.active:hover,
        .id4me-button.button-primary.active:focus,
        .id4me-button.button-primary:active {
            background-color: #006e8c;
            border-color: #005a73;
            box-shadow: inset 0 2px 0 #005a73;
        }
        .id4me-button.button-primary.id4me-login-submit {
            width: 100%;
            float: none;
            background-image: url('../img/id4me-logo-white.svg');
            background-position: 5px center;
            background-repeat: no-repeat;
            background-size: 25px 25px;
        }
        .id4me-login-switch {
            text-align: center;
            margin-top: 12px;
        }
        .id4me-login-or {
            text-align: center;
            text-transform: uppercase;
            margin-top: 20px;
            position: relative;
            
            span {
                padding: 0 8px;
                position: relative;
                background-color: #ffffff;
            }
        }
        .id4me-login-or::before {
            content: '';
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            background: #e5e5e5;
        }
        .id4me-identifier {
            height: 36px;
            font-size: 18px;
        }
    }
    .id4me_error {
        width: 292px;
        margin-left: auto;
        margin-right: auto;
        border-left-color: #dc3232;
    }
    #backtoblog.id4me-backtoblog {
        width: 272px;
        padding: 0 24px;
        margin: 0 auto;
    }
}