/* Hide Wodpress Checkbox/ Submit */
.forgetmenot {
	display: none;
}

#wp-submit {
	display: none;
}

/* Grid-Layout for total Login-Form */
#login {
	display: grid;
	grid-template-areas: "h1 h1 h1 h1" "h2 h2 h2 h2" "c1 c1 c1 c1" "c2 c2 c2 c2" "f1 f1 f2 f2";
	grid-template-columns: 25% minmax(30%, 40%) minmax(30%, 40%) 25%;
	grid-template-rows: auto auto minmax(275px, auto) auto;
	justify-content: center;
	align-items: top;
}

/* Grid-Layout for total Login-Form in the Assistent*/
body.assistant-page #login {
	grid-template-rows: auto;
	grid-template-areas: "h1 h1 h1 h1" "h2 h2 h2 h2" "c1 c1 c1 c1" ". c2 c2 ." "wp wp wp wp" "f1 f1 f2 f2";
	padding-top: 0px;
}

/* Set the Areas */
#login h1 {
	grid-area: h1;
}

.message {
	grid-area: h2;
}

#login_error {
	grid-area: h2;
}

/* WP-Loginform */
#loginform {
	grid-area: c1;
	margin-top: -15px;
	margin-bottom: 50px;
}

body.assistant-page #loginform {
	margin-bottom: 0px;
	display: grid;
	grid-template-areas: "h h" "c c" "f1 f2";
	justify-content: center;
}

#loginform p:nth-child(1) {
	grid-area: h;
}

#loginform p:nth-child(2) {
	grid-area: c;
}

#loginform p.forgetmenot-wp {
	grid-area: f1;
}

#wp-submit-id4me {
	grid-area: f2;
}


/* ID4me-Loginform */
#id4me-loginform {
	grid-area: c2;
	background-color: white;
	margin-top: -70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, .13);
}

body.assistant-page #id4me-loginform {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	margin: 0px;
	padding: 10px;
}

/* Footer-Navigation */
#backtoblog {
	grid-area: f1;
	display: flex;
	justify-content: flex-start;
}

#nav {
	grid-area: f2;
	display: flex;
	justify-content: flex-end;
}

/*ID4me Button-outer*/
#id4me-button {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*ID4me Button-inner*/
#id4me-button-anchor {
	width: 95%;
	text-indent: 25px;
	background-image: url('../img/id4me-logo.svg');
	background-size: 20px;
	background-origin: content-box;
	background-repeat: no-repeat;
	background-position: left;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 1px;
	border: none;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25)
}

/*Button-Text*/
#id4me-text {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: RGBA(0, 0, 0, 0.54);
}


body.assistant-page #id4me-button-anchor {
	background-color: transparent;
	box-shadow: none;
}

/*ID4me Handler (X) */
#id4me-handler {
	display: none;
}

.outer {
	position: relative;
	margin: auto;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.inner {
	width: inherit;
	text-align: left;
}

.inner:before,
.inner:after {
	position: absolute;
	content: '';
	height: 1px;
	width: inherit;
	background: red;
	left: 0px;
	/*transition: all .3s ease-in;*/
}

#edit:before {
	top: 50%;
	transform: rotate(45deg);
}

#edit:after {
	bottom: 50%;
	transform: rotate(-45deg);
}

#save:before, #save:after {
	bottom: 50%;
	width: 10px;
	margin-left: 5px;
	background: green;
	transform: rotate(0deg);
}

.outer:hover .inner:before,
.outer:hover .inner:after {
	background: rgba(0, 0, 0, .25)
}


/* ID4me Hidden-Loginform */
.hiddenform {
	display: none;
	margin-top: 10px;
	grid-template-areas: "a a" "b c";
}

div.form-input,
#id4me-identifier {
	grid-area: a;
}

#id4me-signin {
	grid-area: c;
}

#id4me-rememberme {
	grid-area: b;
}

/* Login with Wordpress-Link */
#id4me-wp {
	display: none;
	cursor: pointer;
	margin-top: 20px;
	grid-area: wp;
}


/* spinner / loader */
.loader {
	display: none;
	border: 3px solid #f3f3f3;
	/* Light grey */
	border-top: 3px solid #3498db;
	/* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/* Responsive Design for smaller Device */
@media only screen and (max-width: 580px) {
	body.assistant-page #login {
		grid-template-areas: "h1 h1 h1 h1" "h2 h2 h2 h2" "c1 c1 c1 c1" "c2 c2 c2 c2" "wp wp wp wp" "f1 f1 f2 f2";
	}
	#id4me-text {
		width: auto;
	}
	#nav {
		justify-content: flex-start;
		align-items: flex-start;
	}
	.hiddenform {
		grid-template-areas: "a" "b" "c";
	}
	#id4me-text {
		white-space: normal;
	}
}

@media only screen and (max-width: 370px) {
	body.assistant-page #login {
		grid-template-columns: 0% minmax(0%, 50%) minmax(0%, 50%) 0%;
		grid-template-areas: "h1 h1 h1 h1" "h2 h2 h2 h2" "c1 c1 c1 c1" "c2 c2 c2 c2" "f1 f1 f1 f1" "wp wp wp wp" "f2 f2 f2 f2";
	}
	body.assistant-page #loginform {
		grid-template-areas: "h h" "c c" "f1 f1" "f2 f2";
	}
	#id4me-button-anchor {
		background-image: url();
		text-indent: 0px;
		padding: 0px;
		margin: 0px;
	}
}
